<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title> Company Registration </title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="/cregister" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Company Name</span>
              <input
                type="text"
                placeholder="Enter your company name"
                name="fullname"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Location</span>
              <input
                type="text"
                placeholder="Enter your location"
                name="username"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input
                type="text"
                placeholder="Enter your email"
                name="email"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input
                type="text"
                placeholder="Enter your number"
                name="number"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input
                type="text"
                placeholder="Enter your password"
                name="password"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input
                type="text"
                placeholder="Confirm your password"
                name="confirmpassword"
                required
              />
            </div>
          </div>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Types of Job</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Full-Time</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Part-Time</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Intern</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>

  </body>
</html>